{% extends 'base.html' %}
{% block content %}


<div class="row">
    <div class="col"></div>
    <div class="col-12 col-xl-8 col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{object.site_name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted"><a href="{{object.url}}"></a> {{object.url}}</h6>
                <p class="card-text">{{object.contents}}</p>
                <a href="{% url 'bookmark:update' object.id %}" class="card-link">수정</a>
                <a href="{% url 'bookmark:delete' object.id %}" class="card-link">삭제</a>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
<!--<div class="card border-info mb-3" style="max-width: 18rem;">-->
<!--  <div class="card-header">Header</div>-->
<!--  <div class="card-body text-info">-->
<!--    <h5 class="card-title">Info card title</h5>-->
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--  </div>-->
<!--</div>-->